version: '3.8'

services:

  appdb:
    # image: 127.0.0.1:5000/vrx-reports-appdb:latest # Removed registry image
    build:
      context: .
      dockerfile: appdb/Dockerfile
    restart: always

    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB_FILE: /run/secrets/postgres_db
      POSTGRES_USER_FILE: /run/secrets/postgres_user
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
#    labels:
#      - "traefik.http.routers.metabasereports.entrypoints=web,websecure"
#      - "traefik.http.routers.metabase.rule=Host(`db.example.com`)"
#      - "traefik.http.routers.metabase.tls=true"
#      - "traefik.http.routers.metabase.tls.certresolver=prod"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    networks:
      - vicarius-network
    secrets:
      - postgres_db
      - postgres_user
      - postgres_password

  app:
    # image: 127.0.0.1:5000/vrx-reports-app:latest # Removed registry image
    build:
      context: .
      dockerfile: app/Dockerfile
    restart: always
#    labels:
#      - "traefik.enabled=false"
    volumes:
      - ./app/reports:/usr/src/app/reports
      - ./app/logs:/var/log
      - ./app/scripts:/usr/src/app/scripts
      - /etc/localtime:/etc/localtime:ro
    networks:
      - vicarius-network
    depends_on:
      - appdb
      - metabase
    secrets:
      - api_key
      - dashboard_id
      - postgres_db
      - postgres_user
      - postgres_password
      - optional_tools
    environment:
      # Environment Variables for Easypanel / Testing
      # These take precedence over secrets if set
      - VICARIUS_API_KEY=
      - VICARIUS_DASHBOARD_ID=
      - POSTGRES_DB=
      - POSTGRES_USER=
      - POSTGRES_PASSWORD=
      - TENABLE_API_KEY=
      - TENABLE_SECRET_KEY=
      - OPTIONAL_TOOLS=

  metabase:
    image: metabase/metabase:latest
    depends_on:
      - appdb
    hostname: metabase
    volumes:
      - metabase-data:/metabase-data
      - /etc/localtime:/etc/localtime:ro
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 5432
      MB_DB_USER_FILE: /run/secrets/postgres_user
      MB_DB_PASS_FILE: /run/secrets/postgres_password
      MB_DB_HOST: appdb
    networks:
      - vicarius-network
    secrets:
      - postgres_user
      - postgres_password
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

volumes:
  postgres-data:
  metabase-data:

networks:
  vicarius-network:
    attachable: true


secrets:
  api_key:
    external: true
  dashboard_id:
    external: true
  postgres_db:
    external: true
  postgres_user:
    external: true
  postgres_password:
    external: true
  optional_tools:
    external: true
